* {
	box-sizing: border-box;
}

body {
	font-family: 'Nanum Gothic', monospace, sans-serif;
	color: #000000;
}

h1 {
	text-align: center;
	font-size: 3.5em;
	font-weight: 600;
}

h2 {
	position: relative;
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
}

input[type="email"] {
	border: none;
	margin: 0;
	outline: 0;
	padding: 5px;
	color: #000000;
	letter-spacing: 1.1px;
}

input[type="text"], input[type="password"] {
	border: inherit;
	margin: 0;
	outline: 0;
	padding: 5px;
	width: 60%;
	background-color: #fff;
	color: #4BA0FF;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03) inset;
	letter-spacing: 1.1px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	background-color: #E8FFD0;
	border-color: #fff;
}
/*
#bt-st {
	border: 2px solid #4BA0FF;
	border-radius: 5px;
	padding: 10px;
	background-color: #E8FFD0;
	border-bottom: 3px solid #2F7DC5;
	color: #000000;
	cursor: pointer;
	transition: all .5s ease;
	margin: 0 auto;
}

#bt-st:hover, #bt-st:focus {
	background-color: #e8f4ff;
	border-color: #3FD517;
	border-bottom-color: #32AC13;
}

#bt-st:active {
	color: #4BA0FF;
}
*/

/*
*/
.btn {
	border: none;
	font-weight: 200;
	font-size: 15px;
	position: relative;
	border-radius: 23px/23px;
	cursor: pointer;
	z-index: 5;
	border: 2px solid;
	overflow: hidden;
}

.btn:after {
	z-index: -2
}

.btn:after, .btn:before {
	content: "";
	display: inline-block;
	position: absolute;
}


/* 수정 */
.btn-modify {
	background-color: #e74c3c;
	color: #fff;
	transition: all .7s ease-in-out
}

.btn-modify:after {
	border: 2px solid #f33;
	border-radius: 50%;
	transition: all .7s ease-in-out;
	margin-left: -201px;
	margin-top: -60px
}

.btn-modify:hover {
	background-color: transparent
}

.btn-modify:hover:after {
	padding: 100px 160px
}

/* 삭제 */
.btn-delete {
	background-color: #19957c;
	color: #fff;
	transition: all .7s ease-in-out
}

.btn-delete:after {
	border: 2px solid #16a085;
	border-radius: 50%;
	transition: all .7s ease-in-out;
	margin-left: -201px;
	margin-top: -60px
}

.btn-delete:hover {
	background-color: transparent
}

.btn-delete:hover:after {
	padding: 100px 160px
}