<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.adminMapper">
	<!-- 계정 조회 -->
	<select id="selectAccounts" resultType="AccountsVO">
		SELECT
			accountId, email, nickname, authority, picture, footer, CONVERT_TZ(reg_date,'+09:00','+00:00') as reg_date,
			CONVERT_TZ(mod_date,'+09:00','+00:00') as mod_date, CONVERT_TZ(newLogin_date,'+09:00','+00:00') as newLogin_date
		FROM
			accounts
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='email' and keyword != null and keyword != '' ">
				AND email like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='nickname' and keyword != null and keyword != '' ">
				AND nickname like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		ORDER BY
			reg_date DESC
		LIMIT
			#{startList}, #{listSize}
	</select>
	
	<!-- 계정 수 -->
	<select id="getAccountListCnt" resultType="int">
		SELECT
			count(accountId)
		FROM
			accounts  
		 <trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='email' and keyword != null and keyword != '' ">
				AND email like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='nickname' and keyword != null and keyword != '' ">
				AND nickname like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
	</select>
	
	<select id="login" resultType="AdminVO">
        select * from admin where adminId = #{adminId} and adminPwd = #{adminPwd}
    </select>
    
    <select id="getAccountInfo" parameterType="int" resultType="AccountsVO">
    	SELECT
    		*
    	FROM
    		accounts
    	WHERE
    		accountId = #{accountId}
    </select>
    
    <!-- 공지 카테고리 정보 취득 -->
    <select id="getNoticeCatInfo" parameterType="String" resultType="NoticeCategoryVO">
    	SELECT
    		*
    	FROM
	    	noticecategory
    </select>
    
    <!-- 영상공유 카테고리 정보 취득 -->
    <select id="getVideoCatInfo" parameterType="String" resultType="VideoCategoryVO">
    	SELECT
    		*
    	FROM
	    	videocategory
    </select>
    
    <!-- 팁 카테고리 정보 취득 -->
    <select id="getTipCatInfo" parameterType="String" resultType="TipCategoryVO">
    	SELECT
    		*
    	FROM
	    	tipcategory
    </select>
    
    <!-- 구인구직 카테고리 정보 취득 -->
    <select id="getRecruitCatInfo" parameterType="String" resultType="RecruitCategoryVO">
    	SELECT
    		*
    	FROM
	    	recruitcategory
    </select>
    
    <!-- 공지 게시판 각 카테고리별 게시물 수 -->
    <select id="getNoticeCatCount" resultType="map">
    	SELECT
			categoryId, count(*) as count
		FROM
			noticeboard
		GROUP BY
			categoryId;
    </select>
    
    <!-- 영상 게시판 각 카테고리별 게시물 수 -->
    <select id="getVideoCatCount" resultType="map">
    	SELECT
			categoryId, count(*) as count
		FROM
			videoboard
		GROUP BY
			categoryId;
    </select>
    
    <!-- 팁 게시판 각 카테고리별 게시물 수 -->
    <select id="getTipCatCount" resultType="map">
    	SELECT
			categoryId, count(*) as count
		FROM
			tipboard
		GROUP BY
			categoryId;
    </select>
    
    <!-- 구인구직 게시판 각 카테고리별 게시물 수 -->
    <select id="getRecruitCatCount" resultType="map">
    	SELECT
			categoryId, count(*) as count
		FROM
			recruitboard
		GROUP BY
			categoryId;
    </select>
    
    <!-- 공지 게시판 categoryId의 게시물을 moveTo 카테고리로 전부 옮기기 -->
    <update id="moveNoticeCat">
    	UPDATE
    		noticeboard
    	SET
    		categoryId = #{moveTo}
    	WHERE
    		categoryId = #{categoryId}
    </update>
    
    <!-- 영상 게시판 categoryId의 게시물을 moveTo 카테고리로 전부 옮기기 -->
    <update id="moveVideoCat">
    	UPDATE
    		videoboard
    	SET
    		categoryId = #{moveTo}
    	WHERE
    		categoryId = #{categoryId}
    </update>
    
    <!-- 팁 게시판 categoryId의 게시물을 moveTo 카테고리로 전부 옮기기 -->
    <update id="moveTipCat">
    	UPDATE
    		tipboard
    	SET
    		categoryId = #{moveTo}
    	WHERE
    		categoryId = #{categoryId}
    </update>
    
    <!-- 구인구직 게시판 categoryId의 게시물을 moveTo 카테고리로 전부 옮기기 -->
    <update id="moveRecruitCat">
    	UPDATE
    		recruitboard
    	SET
    		categoryId = #{moveTo}
    	WHERE
    		categoryId = #{categoryId}
    </update>
	
	<!-- 이메일 체크 -->
	<select id="checkEmail" parameterType="String" resultType="Integer">
	    SELECT
	      COUNT(*)
	    FROM
	      accounts
	    WHERE
	      email = #{email}
	</select>

	<!-- 닉네임 체크 -->
	<select id="checkNickname" parameterType="String" resultType="Integer">
	    SELECT
	      COUNT(*)
	    FROM
	      accounts
	    WHERE
	      nickname = #{nickname}
	</select>
	
	<!-- 유저 포트레이트 파일 이름 취득 -->
	<select id="getOriPic" parameterType="int" resultType="String">
		SELECT
			picture
		FROM
			accounts
		WHERE
			accountId = #{accountId}
	</select>
	
	<!-- 유저 정보 업데이트 -->
	<update id="accountUpdate" parameterType="AccountsVO">
		UPDATE
			accounts
		SET
			email = #{email},
			pwd = #{pwd},
			nickname = #{nickname},
			picture = #{picture},
			footer = #{footer},
			authority = #{authority},
			mod_date = now()
		WHERE
			accountId = #{accountId}
	</update>
</mapper>
