<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.followMapper">

	<!-- 팔로잉 -->
	<select id="followingList" resultType="FollowListVO" parameterType="int">
		select *
		from accounts acc, followlist fol
		where acc.accountId = fol.followAccountId
		and fol.followerAccountId = #{followerAccountId}
		order by fol.reg_date desc
    </select>

	<!-- 팔로워 -->
	<select id="followerList" resultType="FollowListVO" parameterType="int">
		select *
		from accounts acc, followlist fol
		where acc.accountId = fol.followerAccountId
		and fol.followAccountId = #{followAccountId}
		order by fol.reg_date desc
    </select>

	<!-- 팔로잉 추가 -->
    <insert id="insert" parameterType="FollowListVO">
    	insert into followlist(followAccountId, followerAccountId, reg_date)
		values(#{followAccountId}, #{followerAccountId}, now())
    </insert>

    <!-- 팔로우 취소 -->
    <delete id="delete" parameterType="FollowListVO">
        delete from followlist
        where followAccountId = #{followAccountId} and followerAccountId = #{followerAccountId}
    </delete>
	
	
	<!-- 페이징 -->
<!-- 
	<select id="paging" parameterType="PagingVo" resultType="FollowListVO">
        SELECT @rownum:=@rownum+1 as no, notice.*
		FROM noticeboard notice
		WHERE (@rownum:=0)=0
		ORDER BY no desc
		LIMIT #{start}, #{last}
	</select>
-->
    <!-- 카운트 -->
<!-- 
	<select id="getListCount" resultType="int">
		SELECT count(*)
		FROM followlist
	</select>    
 -->
 
	<!-- 팔로우 리스트 출력 + 페이징 + 검색-->
<!-- 
	<select id="listAll" resultType="FollowListVO">
		SELECT *
		FROM followlist
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='followAccountId' and keyword != null and keyword != '' ">
				AND followAccountId like CONCAT('%', #{keyword}, '%')
			</if>
		</trim>
		order by reg_date desc
		LIMIT #{startList}, #{listSize}
	</select>
 -->
	<!-- 팔로워 수 -->
<!-- 
	<select id="getFollowListCnt" resultType="int">
		select count(*)
		from followlist
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="keyword != null and keyword != '' ">
				<if test="searchType=='followAccountId'">
					AND followAccountId like CONCAT('%', #{keyword}, '%')
				</if>
			</if>
		</trim>
	</select>
 -->	
</mapper>