<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.noticeBoardMapper">
	<select id="listAll" resultType="NoticeBoardVO">
        SELECT * FROM noticeBoard
    </select>

    <!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="NoticeBoardVO">
		select * from noticeBoard where boardId = #{boardId}
	</select>
    <!-- 글 쓰기 -->
    <insert id="insertNoticeBoard" parameterType="NoticeBoardVO">
		insert into
      noticeBoard(accountId,
                categoryId,
								subject,
                object,
								reg_date,
								mod_date)
	    values(#{accountId},
            #{categoryId},
            #{subject},
            #{object},
            now(),
            now())
    </insert>

    <!-- 글 수정 -->
		 <update id="updateNoticeBoard">
		  update
        noticeBoard
		  set
        subject = #{subject},
		    object = #{object}
		  where
        boardId = #{boardId}
		 </update>

 	<!-- 글 삭제 -->
		 <delete id="deleteNoticeBoard">
		  delete from
		    noticeBoard
		  where
        boardId = #{boardId}
		 </delete>






</mapper>
