<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.recruitBoardMapper">
	<!-- 게시물 목록 + 페이징 + 검색 -->
	<select id="listAll" parameterType="SearchBoard" resultType="RecruitBoardVO">
		SELECT
			boardId, b.accountId, categoryId, subject, object, DATE_FORMAT(b.reg_date, '%Y-%m-%d') as reg_date,
			CONVERT_TZ(b.mod_date,'+09:00','+00:00') as mod_date, viewCount, nickname, picture
		FROM
			recruitboard b
			JOIN
				accounts ac
				ON
				b.accountId = ac.accountId
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if
				test="searchType=='subject' and keyword != null and keyword != '' ">
				AND subject like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchType=='object' and keyword != null and keyword != '' ">
				AND object like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchType=='nickname' and keyword != null and keyword != '' ">
				AND nickname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="categoryId > 0">
				AND b.categoryId = #{categoryId}
			</if>
		</trim>
		ORDER BY
			boardId desc
		LIMIT
			#{startList}, #{listSize}
	</select>
	
	<!-- 카테고리 정보 취득 -->
	<select id="getCatInfo" parameterType="int" resultType="RecruitCategoryVO">
		SELECT
			*
		FROM
			recruitcategory
		WHERE
			categoryId = #{categoryId}
	</select>

	<!-- 게시물 총 갯수 구하기 -->
	<select id="getBoardListCnt" resultType="int">
		SELECT
			count(boardId)
		FROM
			recruitboard b
			JOIN
				accounts a
				ON
				b.accountId = a.accountId
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test='categoryId!=0'>
				AND categoryId = #{categoryId}
			</if>
			<if
				test="searchType=='subject' and keyword != null and keyword != '' ">
				AND subject like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchType=='object' and keyword != null and keyword != '' ">
				AND object like CONCAT('%', #{keyword}, '%')
			</if>
			<if
				test="searchType=='nickname' and keyword != null and keyword != '' ">
				AND nickname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="categoryId > 0">
				AND b.categoryId = #{categoryId}
			</if>
		</trim>
	</select>

	<!-- 게시물 조회 -->
	<select id="view" parameterType="int"
		resultType="RecruitBoardVO">

		select boardId, b.accountId, categoryId, subject, object, fee, 
		DATE_FORMAT(b.reg_date, '%Y-%m-%d') as reg_date,
		CONVERT_TZ(b.mod_date,'+09:00','+00:00') as mod_date,
		viewCount, (select count(*) from videocomment where b.boardId = boardId) as
		replyCount, ac.nickname, picture 
		from recruitBoard b, accounts ac
		where boardId = #{boardId} and b.accountId = ac.accountId

	</select>
	<!-- 글 쓰기 -->
	<insert id="insertRecruitBoard" parameterType="RecruitBoardVO">
		insert into
		recruitBoard(accountId,
		categoryId,
		subject,
		object,
		fee,
		reg_date,
		mod_date)
		values(#{accountId},
		#{categoryId},
		#{subject},
		#{object},
		#{fee},
		now(),
		now())
	</insert>

	<!-- 글 수정 -->
	<update id="updateRecruitBoard" parameterType="RecruitBoardVO">
	UPDATE 
		recruitBoard 
	SET
		categoryId = #{categoryId},
		subject = #{subject},
		object = #{object},
		fee = #{fee},
		mod_date = now()
	WHERE
		boardId = #{boardId}
	</update>

	<!-- 글 삭제 -->
	<delete id="deleteRecruitBoard">
		delete from
		recruitBoard
		where
		boardId = #{boardId}
	</delete>


	<!-- 조회수 증가 -->
	<update id="viewCount">
		UPDATE recruitBoard SET viewCount = viewCount+1 WHERE
		boardId=#{boardId}
	</update>
<!-- 최신 게시물 -->
	<select id="rankList1" resultType="RecruitBoardVO">
		SELECT
			boardId, b.accountId, subject, a.nickname, viewCount, b.mod_date, b.categoryId, DATE_FORMAT(b.reg_date, '%Y-%m-%d') reg_date
		FROM
			recruitboard b
		JOIN
			accounts a
		ON
			b.accountId = a.accountId
		JOIN
			recruitcategory c
		ON
			b.categoryId=c.categoryId
		where c.categoryId = 1
        ORDER BY
        	b.reg_date DESC 
		LIMIT
			5
	</select>
	<!-- 최신 게시물 -->
	<select id="rankList2" resultType="RecruitBoardVO">
		SELECT
			boardId, b.accountId, subject, a.nickname, viewCount, b.mod_date, b.categoryId, DATE_FORMAT(b.reg_date, '%Y-%m-%d') reg_date
		FROM
			recruitboard b
		JOIN
			accounts a
		ON
			b.accountId = a.accountId
		JOIN
			recruitcategory c
		ON
			b.categoryId=c.categoryId
		where c.categoryId = 2
        ORDER BY
        	b.reg_date DESC 
		LIMIT
			5
	</select>
	
	<!-- 게시물의 editAuthority 확인 -->
	<select id="getEditAuth" parameterType="int" resultType="int">
		SELECT
			editAuthority
		FROM
			recruitboard as b
			JOIN
				recruitcategory as c
			ON
				b.categoryId = c.categoryId
		WHERE
			boardId = #{boardId}
	</select>
	
	<!-- 게시물 작성자 회원번호 확인 -->
	<select id="getAccountId" parameterType="int" resultType="int">
		SELECT
			accountId
		FROM
			recruitboard
		WHERE
			boardId = #{boardId}
	</select>
</mapper>
