<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.good.mapper.replyMapper">
	<select id="listAll" resultType="ReplyVO" parameterType="ReplyVO">
        SELECT * 
        FROM ${boardClass} vc, accounts ac 
        where boardId = #{boardId} and vc.accountId = ac.accountId and replyCommentId is NULL order by commentId desc
    </select>

	<select id="reList" resultType="ReplyVO" parameterType="ReplyVO">
        SELECT * FROM ${boardClass} vc, accounts ac where vc.accountId = ac.accountId and replyCommentId = #{replyCommentId} order by commentId desc
    </select>

	<!-- 선택한 댓글에 대댓글이 있는지 없는지 체크 -->
	<select id="isReReply" resultType="int" parameterType="ReplyVO">
        SELECT EXISTS (select * from ${boardClass} where boardId = #{boardId} and replyCommentId = #{commentId} ) as rec
        
    </select>
    
    <insert id="insert" parameterType="ReplyVO">
    	insert into ${boardClass}(accountId, boardId, object,  reg_date, mod_date)
		values(#{accountId}, #{boardId}, #{object}, now(), now())
    </insert>
    
    <insert id="reInsert" parameterType="ReplyVO">
    	insert into ${boardClass}(accountId, boardId, object, replyCommentId, reg_date, mod_date)
		values(#{accountId}, #{boardId}, #{object}, #{replyCommentId}, now(), now())
    </insert>
    
    <delete id="delete" parameterType="ReplyVO">
    	DELETE FROM ${boardClass} WHERE commentId = #{commentId} or replyCommentId = #{commentId}
    </delete>
    
    <update id="update" parameterType="ReplyVO">
    	UPDATE ${boardClass} SET object = #{object}, mod_date = now() WHERE commentId = #{commentId}
    </update>
    
    
    
</mapper>