<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.good.mapper.replyMapper">
	<select id="listAll" resultType="ReplyVO" parameterType="int">
        SELECT * FROM videocomment vc, accounts ac where boardId = #{boardId} and vc.accountId = ac.accountId order by commentId
    </select>
    
    <insert id="insert" parameterType="ReplyVO">
    	insert into videocomment(accountId, boardId, object,  reg_date, mod_date)
		values(#{accountId}, #{boardId}, #{object}, now(), now())
    </insert>
    
    <delete id="delete" parameterType="ReplyVO">
    	DELETE FROM videocomment WHERE commentId = #{commentId}
    
    </delete>
    
    
    
    
    
</mapper>