<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.tipBoardMapper">
	<!-- 게시물 목록 + 페이징 + 검색 -->
	<select id="listAll" parameterType="SearchBoard" resultType="TipBoardVO">
		SELECT
			boardId, b.accountId, subject, object, CONVERT_TZ(b.reg_date,'+09:00','+00:00') as reg_date,
			CONVERT_TZ(b.mod_date,'+09:00','+00:00') as mod_date, viewCount, nickname, categoryName, picture 
		FROM
			tipboard b
			JOIN
				accounts a
				ON
				b.accountId = a.accountId
			JOIN
				tipcategory c
				ON
				b.categoryId=c.categoryId
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='subject' and keyword != null and keyword != '' ">
				AND subject like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='object' and keyword != null and keyword != '' ">
				AND object like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='nickname' and keyword != null and keyword != '' ">
				AND nickname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="categoryId > 0">
				AND b.categoryId = #{categoryId}
			</if>
		</trim>
		ORDER BY
			boardId desc
		LIMIT
			#{startList}, #{listSize}
	</select>
	
	<!-- 카테고리 정보 취득 -->
	<select id="getCatInfo" parameterType="int" resultType="TipCategoryVO">
	SELECT
		*
	FROM
		tipcategory
	WHERE
		categoryId = #{categoryId}
	</select>
	
	<!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="TipBoardVO">
		<!-- 
		SELECT boardId, n.accountId, nickname, n.categoryId, subject, object, n.reg_date, n.mod_date, viewCount, categoryName, a.picture
		FROM noticeboard as n JOIN accounts as a ON n.accountId = a.accountId
							JOIN noticecategory c on n.categoryId = c.categoryId
		WHERE boardId = #{boardId}
		 -->		 
		SELECT boardId, b.accountId, b.categoryId, subject, object, categoryName,
		CONVERT_TZ(b.reg_date,'+09:00','+00:00') as reg_date, CONVERT_TZ(b.mod_date,'+09:00','+00:00') as mod_date,
		viewCount, (select round(AVG(star),2) from tipstar  where b.boardId = boardId) as starCount, a.nickname, a.footer, a.picture 
		from tipboard b join accounts a on b.accountId = a.accountId
						join tipcategory c on b.categoryId = c.categoryId
		where boardId = #{boardId}
	</select>

	<!-- 게시물 총 갯수 구하기 -->
	<select id="getBoardListCnt" parameterType="SearchBoard" resultType="int">
		SELECT
			count(boardId)
		FROM
			tipboard b
			JOIN
				accounts a
				ON
				b.accountId=a.accountId  
		 <trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType=='subject' and keyword != null and keyword != '' ">
				AND subject like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='object' and keyword != null and keyword != '' ">
				AND object like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType=='nickname' and keyword != null and keyword != '' ">
				AND nickname like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="categoryId > 0">
				AND b.categoryId = #{categoryId}
			</if>
		</trim>
	</select>
	
    <!-- 글 쓰기 -->
    <insert id="insertTipBoard" parameterType="TipBoardVO">
		insert into tipBoard(accountId,
								categoryId,
								subject,
								object,
								reg_date,
								mod_date)
		values(#{accountId},
				#{categoryId},
				#{subject},
				#{object},
				now(),
				now())
    </insert>

    <!-- 글 수정 -->
	<update id="updateTipBoard">
	UPDATE
		tipBoard
	SET
		categoryId = #{categoryId},
		subject = #{subject},
		object = #{object},
		mod_date = now()
	WHERE
		boardId = #{boardId}
	 </update>

 	<!-- 글 삭제 -->
	 <delete id="deleteTipBoard">
		delete from tipBoard
		where boardId = #{boardId}
	 </delete>

	<!-- 조회수 증가 -->
	<update id="viewCount">
	UPDATE tipBoard SET viewCount = viewCount+1 WHERE boardId=#{boardId}
	</update>
	
	<!-- 최신 게시물 -->
	<select id="newList" resultType="TipBoardVO">
		SELECT boardId, b.accountId, subject, a.nickname, viewCount, b.reg_date, b.categoryId, categoryName,
			DATE_FORMAT(b.mod_date, '%Y-%m-%d') mod_date
		FROM tipboard b join accounts a on b.accountId = a.accountId
		join tipcategory c on b.categoryId=c.categoryId
        order by b.reg_date DESC limit 5
	</select>
	
	<!-- 게시물의 editAuthority 확인 -->
	<select id="getEditAuth" parameterType="int" resultType="int">
		SELECT
			editAuthority
		FROM
			tipboard as b
			JOIN
				tipcategory as c
			ON
				b.categoryId = c.categoryId
		WHERE
			boardId = #{boardId}
	</select>

</mapper>
