<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.videoBoardMapper">
	<select id="listAll" resultType="VideoBoardVO" parameterType="map">
       select boardId, b.accountId, categoryId, subject, object, youtubeLink, 
				CONVERT_TZ(b.reg_date,'+09:00','+00:00') as reg_date, CONVERT_TZ(b.mod_date,'+09:00','+00:00') as mod_date, viewCount, (select count(*) from videocomment where b.boardId = boardId) as replyCount
				, ac.nickname, (select round(AVG(star),2) from videostar  where b.boardId = boardId) as starCount
		 from videoBoard b, accounts ac where b.accountId = ac.accountId 
			<if test='categoryId!=0'>
				AND categoryId = #{categoryId}
			</if>
		 order by boardId desc 

    </select>

    <!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="VideoBoardVO">
				select boardId, b.accountId, categoryId, subject, object, youtubeLink, 
				CONVERT_TZ(b.reg_date,'+09:00','+00:00') as reg_date, CONVERT_TZ(b.mod_date,'+09:00','+00:00') as mod_date, viewCount, (select count(*) from videocomment where b.boardId = boardId) as replyCount
				, ac.nickname, ac.footer, (select round(AVG(star),2) from videostar  where b.boardId = boardId) as starCount
		 from videoBoard b, accounts ac where boardId = #{boardId} and b.accountId = ac.accountId
	</select>
	
    <!-- 글 쓰기 -->
    <insert id="insertVideoBoard" parameterType="VideoBoardVO">
		insert into
      videoBoard(accountId,
                categoryId,
				subject,
                object,
				youtubeLink,
				reg_date,
				mod_date)
	    values(#{accountId},
            #{categoryId},
            #{subject},
            #{object},
            #{youtubeLink},
            now(),
            now())
    </insert>

    	<!-- 글 수정 -->
		 <update id="updateVideoBoard">
		  update
        videoBoard
		  set
        subject = #{subject},
		    object = #{object},
        youtubeLink = #{youtubeLink},
        mod_date = now()
		  where
        boardId = #{boardId}
		 </update>

 		<!-- 글 삭제 -->
		 <delete id="deleteVideoBoard">
		  delete from
		    videoBoard
		  where
        	boardId = #{boardId}
		 </delete>
		
		<!-- 조회수 증가 -->
		<update id="viewCount">
		UPDATE videoBoard SET viewCount = viewCount+1 WHERE boardId=#{boardId}
		</update>

	<!-- 팔로우 체크 -->
	<select id="followCheck" resultType="int" parameterType="map">
		select EXISTS (select * from followlist where followAccountId = #{accountId2} and followerAccountId = #{accountId} )
	</select>
	
	<!-- 평점 체크 -->
	<select id="starCheck" resultType="int" parameterType="map">
		select EXISTS (select star from videostar where accountId = #{accountId} and boardId = #{boardId} )
	</select>
	
	<!-- 평점 점수 체크 -->
	<select id="selectstar" resultType="int" parameterType="map">
		select  (select star from videostar where accountId = #{accountId} and boardId = #{boardId} )
	</select>

</mapper>
