<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.good.mapper.videoBoardMapper">
	<select id="listAll" resultType="VideoBoardVO">
        SELECT * FROM videoBoard
    </select>
    
    <!-- 게시물 조회 -->
	<select id="view" parameterType="int" resultType="VideoBoardVO">
		select * from videoBoard where boardId = #{boardId} 
	</select>
    <!-- 글 쓰기 -->
    <insert id="insertVideoBoard" parameterType="VideoBoardVO">
		insert into videoBoard(subject,
								categoryId,
								accountId,
								youtubeLink,
								object,
								reg_date,
								mod_date)
	  values(#{subject}, #{categoryId},#{accountId}, #{youtubeLink}, #{object},  now(), now())
    </insert>
    
    <!-- 글 수정 --> 
		 <update id="updateVideoBoard">
		  update videoBoard
		   set
		    subject = #{subject},
		    object = #{object}
		   where boardId = #{boardId}  
		 </update>
 
 	<!-- 글 삭제 -->
		 <delete id="deleteVideoBoard">
		  delete from
		   videoBoard
		  where boardId = #{boardId}
		 </delete>
    
    
    
    
    
    
</mapper>