<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.good.mapper.videoStarMapper">
	<!-- 처음 평점 추가 -->
	<insert id="insert" parameterType="VideoStarVO">
    	insert into videostar(boardId, accountId, star, reg_date)
		values(#{boardId}, #{accountId}, #{star}, now())
    </insert>
	<!-- 평점 업데이트 -->
    <update id="update" parameterType="VideoStarVO">
		  UPDATE videostar SET star = +#{star} WHERE boardId=#{boardId} and accountId=#{accountId}
	</update>
	
	<select id="starload" parameterType="VideoStarVo" resultType="int">
			select star from videostar where boardId = #{boardId} and accountId = #{accountId}
	</select>
	
	<!-- 평점 랭킹 점수 -->
	<select id="starSum" resultType="VideoStarVO" parameterType="map">
	      select subject, accountId, boardId, SUM(star) sstar from videoBoard b, accounts ac where b.accountId = ac.accountId 
		 order by sstar desc 
    </select>

</mapper>
