<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">


    <configuration>
    	<typeAliases>
    		<typeAlias type="com.good.dto.AccountsVO" alias="AccountsVO"/>
    		<typeAlias type="com.good.dto.AccountCheckVO" alias="AccountCheckVO"/>
    		<typeAlias type="com.good.dto.AdminVO" alias="AdminVO"/>
    		<typeAlias type="com.good.dto.FollowListVO" alias="FollowListVO"/>
    		<typeAlias type="com.good.dto.FollowingListVO" alias="FollowingListVO"/>
    		
    		<typeAlias type="com.good.dto.MessageVO" alias="MessageVO"/>
    		<typeAlias type="com.good.dto.MessageList" alias="MessageList"/>
    		<typeAlias type="com.good.dto.MessageSearch" alias="MessageSearch"/>
			
    		<typeAlias type="com.good.dto.ReplyVO" alias="ReplyVO"/>
    		<typeAlias type="com.good.dto.SearchBoard" alias="SearchBoard"/>
    		<typeAlias type="com.good.dto.EditCategoryVO" alias="EditCategoryVO"/>

    		<typeAlias type="com.good.dto.NoticeBoardVO" alias="NoticeBoardVO"/>
    		<typeAlias type="com.good.dto.NoticeCategoryVO" alias="NoticeCategoryVO"/>
    		<typeAlias type="com.good.dto.RecruitBoardVO" alias="RecruitBoardVO"/>
    		<typeAlias type="com.good.dto.RecruitCategoryVO" alias="RecruitCategoryVO"/>
    		<typeAlias type="com.good.dto.RecruitCommentVO" alias="RecruitCommentVO"/>
    		<typeAlias type="com.good.dto.RecruitStarVO" alias="RecruitStarVO"/>
    		
    		<typeAlias type="com.good.dto.TipBoardVO" alias="TipBoardVO"/>
    		<typeAlias type="com.good.dto.TipCategoryVO" alias="TipCategoryVO"/>
    		<typeAlias type="com.good.dto.TipCommentVO" alias="TipCommentVO"/>
    		<typeAlias type="com.good.dto.TipStarVO" alias="TipStarVO"/>
    		
    		<typeAlias type="com.good.dto.VideoBoardVO" alias="VideoBoardVO"/>
    		<typeAlias type="com.good.dto.VideoCategoryVO" alias="VideoCategoryVO"/>
    		<typeAlias type="com.good.dto.VideoCommentVO" alias="VideoCommentVO"/>
    		<typeAlias type="com.good.dto.VideoStarVO" alias="VideoStarVO"/>

    	</typeAliases>
    </configuration>
